.page-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/img/cart-page-header-img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slick-slide > div {
    margin: 0 8px;
  }

  .slick-dots li button::before {
    color: var(--bs-primary);
    font-size: 12px !important;
    margin-top: 10px;
  }
  
  .slick-dots li.slick-active button::before {
    color: var(--bs-primary) !important;
  }


